body {
  background:#fff;
  color:#333;
  font: 18px/32px Helvetica, Arial, sans-serif;
  height:100%;
  margin:0 auto;
  width:100%;
}

h1 {
  color:#3a6d8c;
  font-size:34px;
  line-height:40px;
  margin:0;
}

h1.white {
  font-size: 1.7em;
  text-align: center;
  line-height: 1.48em;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

h3 {
  color:#3a6d8c;
  font-size:22px;
  line-height:26px;
  font-weight:normal;
  margin:0 0 8px 0;
}
img {
  border:0;
  max-width: 100%;
}
#logo {
 margin-bottom:20px;
 width:300px;
 }

 #logo h1 {
  color:#666; letter-spacing:-1px;
  font-weight:normal;
}

#logo h1 span {
  color:#444;
  font-weight:bold;
}

#logo .title {
  color:#999;
  font-size:12px;
}

#container {
  margin:0 auto;
  padding-top:20px;
  width:800px;
}

#contact-form {
  margin: 0 auto;
}
  #contact-form > h3 {
    text-align: center;
  }
.zipLabel {
  display: block;
  background: rgba(68,68,68,.9);
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 420px;
  padding: 5px 10px 5px 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.bannerCTA {
  display: block;
  max-width: 420px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  display: border-box;
  background: rgba(255,255,255,.8);
  text-align: center;
  color: #444444;
  box-sizing: border-box;
}


fieldset {
  border: none;
}

#content {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom:1px dotted #999;
  border-top:1px dotted #999;
  padding:20px 0;
}

#footer {
  clear:left;
  color:#888;
  margin:20px 0;
}

#footer a:link,
#footer a:visited {
  color:#888;
  text-decoration:none;
}

#footer a:hover {
  color:#333;
  text-decoration:underline;
}
